-- TimescaleDB Hub'Eau Pipeline - Initialisation
-- Base: water_timeseries

\c water_timeseries;
CREATE EXTENSION IF NOT EXISTS timescaledb;

-- PIÉZOMÉTRIE
CREATE TABLE IF NOT EXISTS piezo_stations (
    station_id VARCHAR(50) PRIMARY KEY,
    station_name VARCHAR(200),
    latitude DOUBLE PRECISION,
    longitude DOUBLE PRECISION,
    altitude INTEGER,
    aquifer_name VARCHAR(200),
    created_at TIMESTAMP DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS piezo_observations (
    station_id VARCHAR(50),
    timestamp TIMESTAMP NOT NULL,
    water_level DOUBLE PRECISION,
    measurement_method VARCHAR(50),
    quality_code VARCHAR(50),
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (station_id, timestamp)
);

SELECT create_hypertable('piezo_observations', 'timestamp', chunk_time_interval => INTERVAL '1 day', if_not_exists => TRUE);

-- HYDROMÉTRIE
CREATE TABLE IF NOT EXISTS hydro_stations (
    station_id VARCHAR(50) PRIMARY KEY,
    station_name VARCHAR(200),
    water_course VARCHAR(200),
    latitude DOUBLE PRECISION,
    longitude DOUBLE PRECISION,
    altitude INTEGER,
    manager VARCHAR(100),
    created_at TIMESTAMP DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS hydro_observations (
    station_id VARCHAR(50),
    timestamp TIMESTAMP NOT NULL,
    flow_rate DOUBLE PRECISION,
    water_height DOUBLE PRECISION,
    measurement_method VARCHAR(50),
    quality_code VARCHAR(50),
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (station_id, timestamp)
);

SELECT create_hypertable('hydro_observations', 'timestamp', chunk_time_interval => INTERVAL '1 day', if_not_exists => TRUE);

-- TEMPÉRATURE
CREATE TABLE IF NOT EXISTS temperature_stations (
    station_id VARCHAR(50) PRIMARY KEY,
    station_name VARCHAR(200),
    water_course VARCHAR(200),
    latitude DOUBLE PRECISION,
    longitude DOUBLE PRECISION,
    manager VARCHAR(100),
    created_at TIMESTAMP DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS temperature_observations (
    station_id VARCHAR(50),
    timestamp TIMESTAMP NOT NULL,
    temperature DOUBLE PRECISION,
    measurement_method VARCHAR(50),
    quality_code VARCHAR(50),
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (station_id, timestamp)
);

SELECT create_hypertable('temperature_observations', 'timestamp', chunk_time_interval => INTERVAL '1 day', if_not_exists => TRUE);

-- QUALITÉ SURFACE
CREATE TABLE IF NOT EXISTS quality_surface_stations (
    station_id VARCHAR(50) PRIMARY KEY,
    station_name VARCHAR(200),
    water_course VARCHAR(200),
    latitude DOUBLE PRECISION,
    longitude DOUBLE PRECISION,
    manager VARCHAR(100),
    created_at TIMESTAMP DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS quality_surface_analyses (
    station_id VARCHAR(50),
    timestamp TIMESTAMP NOT NULL,
    parameter_code VARCHAR(50),
    parameter_name VARCHAR(200),
    value DOUBLE PRECISION,
    unit VARCHAR(50),
    detection_limit DOUBLE PRECISION,
    laboratory VARCHAR(100),
    quality_code VARCHAR(10),
    validation_status VARCHAR(50),
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (station_id, timestamp, parameter_code)
);

SELECT create_hypertable('quality_surface_analyses', 'timestamp', chunk_time_interval => INTERVAL '1 day', if_not_exists => TRUE);

-- QUALITÉ SOUTERRAINE
CREATE TABLE IF NOT EXISTS quality_groundwater_stations (
    station_id VARCHAR(50) PRIMARY KEY,
    station_name VARCHAR(200),
    aquifer VARCHAR(200),
    latitude DOUBLE PRECISION,
    longitude DOUBLE PRECISION,
    depth INTEGER,
    manager VARCHAR(100),
    created_at TIMESTAMP DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS quality_groundwater_analyses (
    station_id VARCHAR(50),
    timestamp TIMESTAMP NOT NULL,
    parameter_code VARCHAR(50),
    parameter_name VARCHAR(200),
    value DOUBLE PRECISION,
    unit VARCHAR(50),
    detection_limit DOUBLE PRECISION,
    laboratory VARCHAR(100),
    quality_code VARCHAR(10),
    validation_status VARCHAR(50),
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (station_id, timestamp, parameter_code)
);

SELECT create_hypertable('quality_groundwater_analyses', 'timestamp', chunk_time_interval => INTERVAL '1 day', if_not_exists => TRUE);

SELECT 'TimescaleDB initialisé avec succès' as status;